.layui-layer-shade {
    background-color: rgba(255, 255, 255, 0) !important;
}
.index-main::after {
    content: "" !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    background-image: url('chrome-extension://__MSG_@@extension_id__/img/bg.jpg');
    z-index: -1 !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    opacity: 0.8 !important;
}

.index-main {
    * {
        opacity: 0.95
         !important;
    }
}

.inlet-item {
    width: auto !important;
}

.index-header-left h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

/* .qz-weeklyTable-th.qz-ellipse {
    width:  auto !important;
}

.qz-weeklyTable-td.qz-weeklyTable-label {
    width:  auto !important;
} */

.layui-form.qz-search {
    width: auto !important;
}

@media screen and (max-width: 768px) {
    .contentBody {
        flex-direction: column;
    }

    .contentBody.qz-flex-row .qz-contentRight.qz-flex-col {
        width: 100% !important;
        margin-top: 10px;
    }
}

* ::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
    background-color: rgba(0, 0, 0, 0.05) !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-radius: 4px !important;
}


.myTable {
    width: 100% !important;
    overflow: hidden !important;
    position: relative !important;

    .myTable-header{
        flex-wrap: wrap !important;
        .header-left {
            flex-wrap: wrap !important;
            column-gap: 5px !important;

            .header-left-row {
                flex-wrap: wrap !important;
            }
        }
    }
}

.qz-body.qz-blue > div:nth-child(26) > table {
    width: auto !important;
}
#dataView > thead > tr > th {
    width: auto !important;
    min-width: 70px !important;
    max-width: 200px !important;
}

#dataView > tbody > tr> td {
    width: auto !important;
    min-width: 70px !important;
    max-width: 200px !important;
}

#tableDivWarp {
    height: auto !important;
}

div.main {
    overflow: scroll !important;
}

.select-bottom {
    height: 100% !important;
}